* {
    margin-top: 20px;
}

h1 {
    color: khaki;
    font-family: Helvetica;
    font-size: 100px;
    font-weight: bold;
    text-align: center;
}

h2 {
    font-family: Helvetica;
    font-size: 32px;
    font-weight: bold;
    color: white;
}

head {
    height: 200px;
    position: absolute;
    display: inline;
    font-display: auto;
}  

.brushes {
    background-color:mediumspringgreen ;
}

.frames {
    background-color:lightcoral;
}

.paint {
    background-color:skyblue;
}

.pricing {
    color: blue;
    font-family: Helvetica;
    font-weight: bold;
}
